
.app {
  width: 70%;
  margin: 5%;
  background: white;
  padding: 20px;
}

.layout {
  overflow: auto;
}

.device-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.device {
  padding: 10px;
  border: 1px solid grey;
  margin: 10px;
}

.device-name {
  margin-left:40px;
  text-align: left;
}

.sensor-list {
  list-style-type: none;
  margin-top: 5px;
}

.sensor-name {
  font-weight: normal;
}

.sensor-data {
  font-weight: normal;
}

.btn {
  background-color: #607D8B; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
}

.hidden {
  opacity: 0;
}